.eunit
deps
*.o
*.plt

# Server files that should be ignored
*.beam
server/.dependencies

# Qt files that should be ignored.
*.pro
moc_*

# Makefiles in Qt project directories
client/Makefile
qt-examples/*/Makefile

# Executables for Qt projects
client/client

qt-examples/snet/snet
qt-examples/display-images/display-images
qt-examples/counter/counter

